body {
    margin: 0;
}

/* NAVBAR STYLES */
#myTopnav{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 65px;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #c5c5c5;
}

ul.topnav li {
    float: right;
}

.icon a{
  font-size: 1.4em;
}

#brand{
  max-height: 3em;
  margin-left: 16px;
  margin-top: 11px;
}

ul.topnav li a {
    display: inline-block;
    color: #454545;
    font-family: Quicksand;
    font-weight: 700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.75em;
}

ul.topnav li a:hover {
    background-color: #d2d2d2;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
/*END OF NAVBAR ------------------------------*/

#container_1{
  height: 100vh;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid rgba(212, 212, 212, 0.67);
}

#textBox1{
  position: absolute;
  text-align: center;
  top: 61px;
  /* left: 80px; */
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background: rgba(255, 255, 255, 0.63);
}

#textBox1 h1{
  margin-top: 50px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #121212;
  font-size: 6em;
  margin: 0;
  margin-top: 2em;
}

.subtitle{
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 15px;
  font-weight: bold;
}

.imageContainer{

}

#mainImage{
  float: right;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 425px){
  .imageContainer{
    height: auto;
  }

  #mainImage{
    max-height: 100vh;
    width: auto;
    max-width: none;
  }

}

#servicesContainer{
  padding-top: 2em;
  background: white;
  min-height: 100vh;
}

.services{
  text-align: center;
  padding: 2em 15px;
}

.icons{
  padding: 2.5em 15px;
}

.services h2{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.services .fa{
  font-size: 6em;
  color: #b4ce7d;
}

.services p{
  width: 75%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.65em;
  font-family: 'Roboto';
}

#servicesDescription{
  width: 85%;
  margin: 0 auto;
  float: none;
}

#servicesDescription h1{
  font-family: 'Roboto';
  font-weight: bold;
}

#servicesDescription p{
  text-align: justify;
  font-size: 1.9em;
  font-family: 'Raleway';
  padding: 0;
  padding-left: 1em;

}


#contactUs{
  border-top: 2px solid rgba(212, 212, 212, 0.67);
  /*background: white;*/
  min-height:  calc(100vh - 60px);
  padding-top: 2.5em;
}

#formContainer{
  width: 700px;
  max-width: 90vw;
  margin: 1.5em auto;
  padding: 20px;
  border-radius: 9px;
  background: rgba(205, 205, 205, 0.33);
}

#contactUs input{
  display: block;
  margin: 1.5em auto;
  padding: 6px 15px;
  width: 100%;
  font-size: 2em;
  padding-left: 75px;
  border: none;
}

#contactUs textarea{
  display: block;
  margin: 1.5em auto;
  max-width: 100%;
  font-size: 2em;
  padding: 15px 20px;
  border: none;
}

.input-icon{
  position: absolute;
  font-size: 2.35em!important;
  line-height: 48px!important;
  margin-left: 15px;
  color: rgb(0, 190, 255);
}

#contactUs #submitButton{
  padding: 21px 3px;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 700;
  background: rgb(0, 190, 255);
  border-color: #fff;
  font-size: 2.45em;
  color: white;
  border: 3px solid white;
}

#contactUs #submitButton:hover{
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 700;
  background: white;
  color: rgb(0, 190, 255);
  border-color: rgb(0, 190, 255);
}

#contactTitle{
  text-align: center;
  font-family: raleway;
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 4em;
  color: #333;
  margin-bottom: 2em;
}

/*FONTS*/

/*Raleway*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);

/*=======================================================*/
